{{define "title"}}Home{{end}}

{{define "main"}}

<dialog id="my_modal_1" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold pb-2">Icon Search</h3>
        <input
                type="text"
                name="term"
                placeholder="Type here"
                class="input w-full"
                hx-get="/api/icons"
                hx-trigger="keyup changed delay:300ms"
                hx-target="#icon-results"
                hx-swap="innerHTML"
        />
        <!-- icon-results-Container -->
        <div
                id="icon-results"
                class="flex flex-wrap gap-2 pt-4"
                hx-swap-oob="true"
        >
            {{ template "icon-results" . }}
        </div>

        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>

<h1 class="text-3xl">Add Contract</h1>

<h2 class="text-lg py-4">Common</h2>

<div class="list bg-base-100 rounded-box shadow-md p-4">

    <form class="">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">

            <div class="lg:col-span-2">
                <button class="hover:cursor-pointer" type="button" onclick="my_modal_1.showModal()">
                    <img class="w-12 h-12 rounded-box border border-gray-300 border-gray-500 b-2 dark:border-red-500" alt="Logo" src=""/>
                </button>
            </div>

            <fieldset class="fieldset">
                <legend class="fieldset-legend">Name</legend>
                <input type="text" class="input w-full" placeholder="Type here"/>
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fieldset-legend">Company</legend>
                <input type="text" class="input w-full" placeholder="Type here"/>
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fieldset-legend">Category</legend>
                <select class="select w-full">
                    <option disabled selected>Pick a browser</option>
                    <option>Chrome</option>
                    <option>FireFox</option>
                    <option>Safari</option>
                </select>
            </fieldset>

            <fieldset class="fieldset">
                <legend class="fieldset-legend">Costs</legend>
                <input type="number" class="input w-full" placeholder="Type here"/>
            </fieldset>
        </div>

    </form>

</div>


{{end}}