{{define "title"}}Home{{end}}

{{define "main"}}

<h1 class="text-3xl pb-4">Contracts</h1>

<div class="flex flex-row-reverse">
    <a href="/contracts/add" class="btn btn-primary right-0 tooltip" data-tip="Add Contract">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd"
                  d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                  clip-rule="evenodd"/>
        </svg>
    </a>
</div>

{{ if and (.Contracts) (gt (len .Contracts) 0) }}

<ul class="list bg-base-100 rounded-box shadow-md mt-4">

    {{range .Contracts}}
    <li>
        <a href="/contracts/{{ .ID }}" class="list-row hover:bg-base-300">
            <div>
                <img class="w-10 rounded-box" src="{{ .IconSource }}"/>
            </div>
            <div>
                <div>{{ .Name }}</div>
                <div class="text-xs uppercase font-semibold opacity-60">{{ .Company }} - {{ .Category }}</div>
            </div>
            <div class="badge badge-neutral !text-white h-full">{{ .Costs }} €</div>
            <button class="btn btn-square btn-ghost">
                <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
                </svg>
            </button>
        </a>
    </li>
    {{end}}
</ul>

{{else}}
<p>No Contracts</p>
{{end}}

{{end}}