{{define "title"}}Home{{end}}

{{define "main"}}

<h1 class="text-3xl pb-4">Contracts</h1>

<ul class="list bg-base-100 rounded-box shadow-md">

    {{range .Contracts}}
    <li>
        <a href="/contracts/{{ .ID }}" class="list-row hover:bg-base-300">
            <div><img class="w-10 rounded-box" src="{{ .IconSource }}"/></div>
            <div>
                <div>{{ .Name }}</div>
                <div class="text-xs uppercase font-semibold opacity-60">{{ .Company }} - {{ .Category }}</div>
            </div>
            <div class="badge badge-neutral !text-white h-full">{{ .Costs }} €</div>
            <button class="btn btn-square btn-ghost">
                <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
                </svg>
            </button>
        </a>
    </li>
    {{end}}

</ul>
{{end}}