{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/css/output.css" rel="stylesheet" />
    <!-- chart library -->
    <script
            type="module"
            src="https://cdn.jsdelivr.net/npm/@weblogin/trendchart-elements@1.1.0/dist/index.js/+esm"
            async></script>
    <!-- svg loader for icons -->
    <script
            src="https://cdn.jsdelivr.net/npm/external-svg-loader@1.6.10/svg-loader.min.js"
            async></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>
<!-- drawer -->
<body class="drawer bg-base-200 lg:drawer-open min-h-screen">
<input id="my-drawer" type="checkbox" class="drawer-toggle" />
<!-- content -->
<main class="drawer-content">
    <div class="lg:p-10">
        {{template "main" .}}
    </div>
</main>
<!-- /content -->
<aside class="drawer-side z-10">
    <label for="my-drawer" class="drawer-overlay"></label>
    <!-- sidebar menu -->
    <nav class="bg-base-100 flex min-h-screen w-72 flex-col gap-2 overflow-y-auto px-6 py-10">
        <div class="mx-4 flex items-center gap-2 font-black">
            <svg
                    width="32"
                    height="32"
                    viewBox="0 0 1024 1024"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                <rect x="256" y="670.72" width="512" height="256" rx="128" class="fill-base-content" />
                <circle cx="512" cy="353.28" r="256" class="fill-base-content" />
                <circle
                        cx="512"
                        cy="353.28"
                        r="261"
                        stroke="black"
                        stroke-opacity="0.2"
                        stroke-width="10" />
                <circle cx="512" cy="353.28" r="114.688" class="fill-base-100" />
            </svg>
            Daisy Corp
        </div>
        <ul class="menu w-full">
            <li>
                <a class="active">
                    <svg data-src="https://unpkg.com/heroicons/20/solid/home.svg" class="h-5 w-5"></svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a>
                    <svg data-src="https://unpkg.com/heroicons/20/solid/user.svg" class="h-5 w-5"></svg>
                    Users
                </a>
            </li>
        </ul>
    </nav>
    <!-- /sidebar menu -->
</aside>
</body>
<!-- /drawer -->
</html>

{{end}}